@font-face {
  font-family: "raleway-regular";
  src: url("../fonts/raleway/raleway-regular.ttf");
}
@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/montserrat/montserrat-regular.ttf");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto/roboto-regular.ttf");
}
body {
  width: 1920px;
  margin: 0 auto;
}

.main_header {
  width: 1920px;
  min-height: 1024px;
  background: url(../img/header_bg.jpg) no-repeat;
}
.main_header_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 367px 288px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main_header_logo {
  fill: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main_header_logo_span {
  font-family: raleway-regular;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #fff;
  margin: 15px 0 0 0;
}
.main_header_nav {
  display: block;
  margin: 22px 30px 0 219px;
}
.main_header_nav_link {
  text-decoration: none;
  font-family: montserrat-regular;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
  padding: 0px 13px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main_header_nav_link:hover {
  color: #c7b299;
}
.main_header_nav_link:active {
  color: #ccc;
}
.main_header_form {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 17px 0 0 14px;
}
.main_header_form_input_basket {
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  width: 0;
  height: 0;
}
.main_header_form_basket_svg {
  fill: #fff;
}
.main_header_form_basket_svg:hover {
  fill: #c7b299;
}
.main_header_form_basket_svg:active {
  fill: #ccc;
}
.main_header_form_input_search {
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  width: 0;
  height: 0;
  position: absolute;
}
.main_header_form_input_search:focus {
  width: 150px;
  height: 25px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
}
.main_header_form_search_label {
  display: block;
  width: 100%;
  height: 100%;
}
.main_header_form_search_label:hover .main_header_form_search_label_svg {
  fill: #c7b299;
}
.main_header_form_search_label:active .main_header_form_search_label_svg {
  fill: #ccc;
}
.main_header_form_search_label_svg {
  fill: #fff;
}
.main_header_slider {
  width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main_header_slider_subtitle {
  font-family: raleway-regular;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  margin: 0 0 15px;
  text-align: center;
}
.main_header_slider_title {
  font-family: raleway-regular;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
  margin: 0 0 15px;
  text-align: center;
}
.main_header_slider_text {
  font-family: montserrat-regular;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
  margin: 0 auto 50px;
  text-align: center;
  max-width: 85%;
  min-height: 40px;
}
.main_header .sale_card {
  width: 640px;
}
.main_header .but_switch_left {
  display: block;
  width: 53px;
  height: 53px;
  border-left: 2px solid #a2a19f;
  border-bottom: 2px solid #a2a19f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 70px 0 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 70px 470px 0 0;
}
.main_header .but_switch_right {
  display: block;
  width: 53px;
  height: 53px;
  border-left: 2px solid #a2a19f;
  border-bottom: 2px solid #a2a19f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 70px 0 0 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin: 70px 0 0 470px;
}
.main_header .but_jump {
  font-family: raleway-regular;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  display: block;
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 14px 0 0 0;
  border: 2px solid #998675;
  margin: 0 auto 310px;
}
.main_header .but_jump:hover {
  background-color: transparent;
  color: #998675;
  border: 2px solid #998675;
}
.main_header .but_jump:active {
  background-color: #ccc;
  color: #fff;
  border: 3px solid #ccc;
}

.main_header_logo:hover {
  fill: #998675;
}

.main_header_logo:hover .main_header_logo_span {
  color: #998675;
}

.main_header_logo:active {
  fill: #ccc;
}

.main_header_logo:active .main_header_logo_span {
  color: #ccc;
}

.but_switch_left:hover {
  border-color: #998675;
}

.but_switch_right:hover {
  border-color: #998675;
}

.but_switch_left:active {
  border-color: #ccc;
}

.but_switch_right:active {
  border-color: #ccc;
}

.main_header_pagination {
  width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main_header_pagination_link {
  display: block;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background: #919194;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 13px 0 0;
  border: 1px solid transparent;
}
.main_header_pagination_link:hover {
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #919194;
  background: transparent;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.main_header_pagination_link:active {
  background: #919194;
}

.container {
  width: 1920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.web_icons {
  min-height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 400px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.web_icons_link {
  display: block;
  text-decoration: none;
}
.web_icons_link_svg {
  fill: #555555;
  display: block;
  margin: 0 auto 29px;
}
.web_icons_link_title {
  display: block;
  font-family: raleway-regular;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  text-align: center;
  margin: 0 0 19px;
}
.web_icons_link_txt {
  font-family: montserrat-regular;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
  margin: 0 0 30px 0;
}
.web_icons_link:after {
  content: "";
  display: block;
  background-color: #f1eee9;
  height: 3px;
  width: 70px;
  margin: 0 auto;
}
.web_icons_link:hover .web_icons_link_svg {
  fill: #c7b299;
}
.web_icons_link:hover .web_icons_link_title {
  color: #c7b299;
}
.web_icons_link:hover:after {
  background-color: #c7b299;
}
.web_icons_link:active .web_icons_link_svg {
  fill: #484642;
}
.web_icons_link:active .web_icons_link_title {
  color: #484642;
}
.web_icons_link:active:after {
  background-color: #484642;
}

.waxom_realiz {
  min-height: 700px;
  padding: 80px 400px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fbfaf8;
  width: 1920px;
  text-align: center;
}
.waxom_realiz_title {
  font-family: raleway-regular;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  display: block;
  margin: 0 0 25px 0;
}
.waxom_realiz_txt {
  font-family: montserrat-regular;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 auto 40px;
  max-width: 757px;
}
.waxom_realiz_expl {
  position: relative;
  margin: 0 -30px;
}

.img_1 {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 82px;
}

.img_2 {
  z-index: 2;
  position: relative;
  display: block;
  margin: 0 auto;
}

.img_3 {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 82px;
}

.img_1:hover {
  z-index: 3;
}

.img_3:hover {
  z-index: 2;
}

.aside_waxom {
  padding: 40px 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(90deg, #211b19, #4e3427);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aside_waxom_title {
  font-family: raleway-regular;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
.aside_waxom_title span {
  color: #c7b299;
}
.aside_waxom_txt {
  font-family: montserrat-regular;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
  margin: 0;
}
.aside_waxom_button {
  font-family: raleway-regular;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  display: block;
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 14px 0 0 0;
  border: 2px solid #998675;
  margin: 0 auto 310px;
  margin: 0;
}
.aside_waxom_button:hover {
  background-color: transparent;
  color: #998675;
  border: 2px solid #998675;
}
.aside_waxom_button:active {
  background-color: #ccc;
  color: #fff;
  border: 3px solid #ccc;
}

.projects {
  padding: 80px 375px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}
.projects_title {
  font-family: raleway-regular;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  text-align: center;
  display: block;
  margin: 0 0 24px 0;
}
.projects_txt {
  font-family: montserrat-regular;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
  margin: 0 auto 40px;
  width: 70%;
}

.projects_button_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.projects_button_menu {
  display: block;
  height: 32px;
  min-width: 70px;
  text-decoration: none;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: montserrat-regular;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 10px 40px;
  text-align: center;
  padding: 5px 10px;
}

.projects_link_active {
  border-color: #998675;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #998675;
  color: #fff;
}

.projects_button_menu:hover {
  border-color: #998675;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #998675;
  color: #fff;
}

.projects_button_menu:active {
  border-color: #ebebeb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  color: #8c8c8c;
}

.projects_cards_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 710px;
  margin: 0 0 40px 0;
}

.projects_cards {
  margin: 0;
  padding: 0 0 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.projects_cards_img {
  display: block;
}
.projects_cards_items {
  background-color: #fbfaf8;
  padding: 30px;
  position: relative;
}
.projects_cards_items_title {
  font-family: raleway-regular;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
}
.projects_cards_items_txt {
  font-family: montserrat-regular;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
  margin: 0;
}
.projects_cards_link {
  display: none;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 106px;
  left: 144px;
  z-index: 2;
}

.prj_link {
  background: url(../img/link.svg);
}

.prj_search {
  background: url(../img/lupa.svg);
  margin: 0 0 0 50px;
}

.projects_cards_items:before {
  content: "";
  display: block;
  position: absolute;
  border: none;
  width: 10px;
  height: 10px;
  background-color: #fbfaf8;
  top: -5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.projects_cards:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.projects_cards:hover .projects_cards_img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.projects_cards:hover .projects_cards_link {
  display: block;
}

.projects_cards:hover .prj_link:hover {
  background: url(../img/link-h.svg);
}

.projects_cards:hover .prj_search:hover {
  background: url(../img/lupa-h.svg);
}

.projects_cards:hover .projects_cards_items {
  background-color: #362F2D;
}

.projects_cards:hover .projects_cards_items_title {
  color: #fff;
}

.projects_cards:hover .projects_cards_items_txt {
  color: #C7B299;
}

.projects_cards:hover .projects_cards_items:before {
  background-color: #362F2D;
}

.projects_button {
  font-family: raleway-regular;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  display: block;
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 14px 0 0 0;
  border: 2px solid #998675;
  margin: 0 auto 310px;
  margin: 0 auto 80px;
}

.projects_button:hover {
  border-color: #998675;
  background: transparent;
  color: #998675;
}

.waxom_video {
  position: relative;
}
.waxom_video_wrp {
  text-align: center;
  position: absolute;
  padding: 207px 685px;
}
.waxom_video_title {
  font-family: raleway-regular;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  margin: 0 0 29px 0;
}
.waxom_video_txt {
  font-family: montserrat-regular;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #fff;
  width: 552px;
  margin: 0 0 40px 0;
}
.waxom_video_time {
  font-family: montserrat-regular;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.bt_play {
  position: relative;
  background-color: transparent;
  border: none;
  margin: 0 0 44px 0;
}
.bt_play_svg {
  display: block;
  z-index: 2;
  position: relative;
}

.bt_play:after {
  content: "";
  width: 100px;
  height: 100px;
  opacity: 0.2;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: -4px;
  top: -8px;
}

.mobile_video {
  display: none;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 79px 375px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 695px;
}
.phone_img {
  display: block;
}
.phone_wrp {
  padding: 116px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.phone_wrp_title {
  font-family: raleway-regular;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 0 0 40px 0;
}
.phone_wrp_txt {
  font-family: montserrat-regular;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  width: 657px;
  margin: 0 0 45px 0;
}
.phone_wrp_list {
  font-family: montserrat-regular;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 0 0 50px;
  list-style-type: none;
}
.phone_wrp_list_items {
  position: relative;
}
.phone_wrp_list_items:before {
  content: "";
  background: url(../img/list_icon.svg) no-repeat;
  background-size: cover;
  height: 21px;
  width: 21px;
  position: absolute;
  left: -45px;
  top: 4px;
}

.about_us {
  max-height: 300px;
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(90deg, #211b19, #4e3427);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 70px 395px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.about_us_wrp {
  text-align: center;
}
.about_us_wrp:after {
  content: "";
  display: block;
  background-color: #f1eee9;
  height: 2px;
  width: 30px;
  margin: 0 auto;
}
.about_us_svg {
  fill: #c7b299;
  margin: 0 0 25px 0;
}
.about_us_digits {
  font-family: montserrat-regular;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #fff;
  margin: 0 0 15px 0;
}
.about_us_txt {
  font-family: montserrat-regular;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
  margin: 0 0 25px 0;
}

.posts {
  padding: 80px 375px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.posts_title {
  font-family: raleway-regular;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  text-align: center;
  margin: 0 0 30px 0;
}
.posts_txt {
  font-family: montserrat-regular;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 757px;
  text-align: center;
  margin: 0 auto 40px;
}
.posts_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px 0;
}
.posts_items {
  position: relative;
  width: 32%;
  border: 1px solid #f8f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.posts_items_img {
  display: block;
}
.posts_items_pagination_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 187px;
  left: 134px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.posts_items_pagination {
  display: block;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  opacity: 0.3;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 9px 0 0;
  border: 1px solid transparent;
}
.posts_items_pagination:hover {
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #919194;
  background: transparent;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.posts_items_wrp {
  padding: 30px 44px 30px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.posts_items_date {
  font-family: montserrat-regular;
  font-size: 24px;
  line-height: 37px;
  font-weight: 300;
  color: #fff;
  display: block;
  width: 50px;
  height: 35px;
  background-color: #363636;
  border-radius: 3px 3px 0px 0px;
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
}
.posts_items_month {
  font-family: roboto-regular;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  display: block;
  width: 50px;
  height: 25px;
  background-color: #252525;
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  top: 55px;
  left: 20px;
  text-align: center;
}
.posts_items_title {
  font-family: raleway-regular;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  margin: 0 0 15px 0;
}
.posts_items_txt {
  font-family: montserrat-regular;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 0 21px 0;
}
.posts_items_link {
  font-family: montserrat-regular;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  text-decoration: none;
}
.posts_items_link:after {
  content: "";
  display: block;
  background: #c7b299;
  border: 1px solid #c7b299;
  width: 0;
  height: 0;
}
.posts_bt_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.posts_bt_left {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #c7b299;
  margin: 0 8px 0 0;
}
.posts_bt_left:after {
  content: "";
  display: block;
  border: none;
  border-left: 1px solid #c7b299;
  border-bottom: 1px solid #c7b299;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 0 2px;
}
.posts_bt_right {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #c7b299;
}
.posts_bt_right:after {
  content: "";
  display: block;
  border: none;
  border-right: 1px solid #c7b299;
  border-bottom: 1px solid #c7b299;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.posts_items:hover .posts_items_img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.posts_items:hover .posts_items_date {
  background: #c7b299;
}

.posts_items:hover .posts_items_month {
  background: #a48d72;
}

.posts_items:hover .posts_items_title {
  color: #c7b299;
}

.posts_items:hover .posts_items_txt {
  color: #fff;
}

.posts_items:hover .posts_items_wrp {
  background: #362f2d;
  border-color: #362f2d;
}
