@import "fonts.sass"


=input_nav()
	background-color: transparent
	outline: none
	border: none
	box-sizing: border-box
	color: #fff
	width: 0
	height: 0

=but_switch()
	display: block
	width: 53px
	height: 53px
	border-left: 2px solid #a2a19f
	border-bottom: 2px solid #a2a19f
	box-sizing: border-box
	margin: 70px 0 0 0

=but_jump()
	font-family: $font_raleway
	font-size: 14px
	line-height: 23px
	font-weight: 800
	text-transform: uppercase
	color: #fff
	text-decoration: none
	display: block
	width: 170px
	height: 53px
	background-color: #998675
	border-radius: 3px
	box-sizing: border-box
	text-align: center
	padding: 14px 0 0 0
	border: 2px solid #998675
	margin: 0 auto 310px


$width: 1920px
$margin_center: 0 auto
$font_raleway: raleway-regular 
$font_montserrat: montserrat-regular
$font_roboto: roboto-regular
$padding_site: 80px 400px 0


body 
	width: $width
	margin: $margin_center

.main_header 
	width: $width
	min-height: 1024px
	background: url(../img/header_bg.jpg) no-repeat
	
	&_section
		display: flex
		padding: 40px 367px 288px
		box-sizing: border-box

	&_logo
		fill: #fff
		text-decoration: none
		display: flex
		&_span
			font-family: $font_raleway
			font-size: 34px
			line-height: 1.2
			font-weight: 400
			letter-spacing: -0.04em
			color: #fff
			margin: 15px 0 0 0
			
	&_nav
		display: block
		margin: 22px 30px 0 219px
		&_link
			text-decoration: none
			font-family: $font_montserrat
			font-size: 16px
			line-height: 24px
			font-weight: 300
			color: #fff
			padding: 0px 13px 0 0
			box-sizing: border-box

			&:hover
				color: #c7b299
			&:active
				color: #ccc

	&_form
		position: relative 
		width: 30px
		height: 30px
		margin: 17px 0 0 14px

		&_input_basket
			+input_nav

		&_basket_svg
			fill: #fff

			&:hover
				fill: #c7b299
			&:active
				fill: #ccc

		&_input_search
			+input_nav
			position: absolute

			&:focus
				width: 150px
				height: 25px
				transition: width 1s ease
				border: 2px solid #fff

		&_search_label
			display: block
			width: 100%
			height: 100%

			&:hover .main_header_form_search_label_svg
				fill: #c7b299
			&:active .main_header_form_search_label_svg
				fill: #ccc
			&_svg 
				fill: #fff


	&_slider
		width: $width
		display: flex
		justify-content: center
		flex-wrap: wrap

		&_subtitle
			font-family: $font_raleway
			font-size: 36px
			line-height: 1.2
			font-weight: 500
			color: #fff
			margin: 0 0 15px
			text-align: center

		&_title
			font-family: $font_raleway
			font-size: 52px
			line-height: 1.2
			font-weight: 800	
			color: #fff
			margin: 0 0 15px
			text-align: center
		&_text
			font-family: $font_montserrat
			font-size: 16px
			line-height: 24px
			font-weight: 300
			color: #fff
			margin: 0 auto 50px
			text-align: center
			max-width: 85%
			min-height: 40px
	
	.sale_card
		width: ($width)/3
	.but_switch_left
		+but_switch()
		transform: rotate(45deg)
		margin: 70px 470px 0 0

	.but_switch_right
		+but_switch()
		transform: rotate(-135deg)
		margin: 70px 0 0 470px
	.but_jump
		+but_jump()

	.but_jump:hover 
		background-color: transparent
		color: #998675
		border: 2px solid #998675

	.but_jump:active 
		background-color: #ccc
		color: #fff
		border: 3px solid #ccc

.main_header_logo:hover 
	fill: #998675

.main_header_logo:hover .main_header_logo_span
	color: #998675

.main_header_logo:active 
	fill: #ccc

.main_header_logo:active .main_header_logo_span
	color: #ccc

.but_switch_left:hover
	border-color: #998675

.but_switch_right:hover
	border-color: #998675

.but_switch_left:active
	border-color: #ccc

.but_switch_right:active
	border-color: #ccc

.main_header_pagination 
	width: $width
	display: flex
	justify-content: center
	&_link
		display: block
		border-radius: 50%
		width: 11px
		height: 11px
		background: #919194
		box-sizing: border-box
		margin: 0px 13px 0 0
		border: 1px solid transparent
		
		&:hover 
			border-radius: 50%
			box-sizing: border-box
			border: 1px solid #919194
			background: transparent
			transform: scale(1.2)

		&:active
			background: #919194

.container
	width: $width
	margin: $margin_center
	box-sizing: border-box
.web_icons 
	min-height: 370px
	display: flex
	padding: $padding_site
	box-sizing: border-box

	&_link
		display: block
		text-decoration: none

		&_svg
			fill: #555555
			display: block
			margin: 0 auto 29px
		&_title
			display: block
			font-family: $font_raleway
			font-size: 22px
			line-height: 1.2
			font-weight: 600
			color: #555555
			text-align: center
			margin: 0 0 19px
		&_txt
			font-family: $font_montserrat
			font-size: 14px
			line-height: 24px
			font-weight: 300
			color: #8c8c8c
			text-align: center
			margin: 0 0 30px 0

	&_link:after
		content: ""
		display: block
		background-color: #f1eee9
		height: 3px
		width: 70px
		margin: 0 auto
	
	&_link:hover .web_icons_link_svg 
		fill: #c7b299

	&_link:hover .web_icons_link_title
		color: #c7b299
	
	&_link:hover:after
		background-color: #c7b299
	
	&_link:active .web_icons_link_svg 
		fill: #484642

	&_link:active  .web_icons_link_title
		color: #484642
	
	&_link:active:after
		background-color: #484642


.waxom_realiz
	min-height: 700px
	padding: $padding_site
	box-sizing: border-box
	background-color: #fbfaf8
	width: $width
	text-align: center
	
	&_title
		font-family: $font_raleway
		font-size: 30px
		line-height: 1.2
		font-weight: 600
		color: #555555
		display: block
		margin: 0 0 25px 0

	&_txt
		font-family: $font_montserrat
		font-size: 16px
		line-height: 28px
		font-weight: 300
		color: #8c8c8c
		margin: 0 auto 40px
		max-width: 757px

	&_expl
		position: relative
		margin: 0 -30px

.img_1
	z-index: 1
	position: absolute
	left: 0
	top: 82px

.img_2
	z-index: 2
	position: relative
	display: block
	margin: 0 auto

.img_3
	z-index: 1
	position: absolute
	right: 0
	top: 82px

.img_1:hover 
	z-index: 3

.img_3:hover 
	z-index: 2

.aside_waxom
	padding: 40px 400px
	box-sizing: border-box
	background: linear-gradient(90deg, #211b19, #4e3427)
	display: flex
	justify-content: space-between

	&_title
		font-family: $font_raleway
		font-size: 28px
		line-height: 1.2
		font-weight: 400
		color: #ffffff

	&_title span
		color: #c7b299

	&_txt
		font-family: $font_montserrat
		font-size: 18px
		line-height: 1.2
		font-weight: 300
		color: #615855
		margin: 0

	&_button
		+but_jump()
		margin: 0
		&:hover 
			background-color: transparent
			color: #998675
			border: 2px solid #998675

		&:active 
			background-color: #ccc
			color: #fff
			border: 3px solid #ccc

.projects
	padding: 80px 375px 0
	box-sizing: border-box
	margin: $margin_center
	box-sizing: border-box
	width: 100%

	&_title
		font-family: $font_raleway
		font-size: 30px
		line-height: 1.2
		font-weight: 600
		color: #555555
		text-align: center
		display: block
		margin: 0 0 24px 0
	
	&_txt
		font-family: $font_montserrat
		font-size: 16px
		line-height: 28px
		font-weight: 300
		color: #8c8c8c
		text-align: center
		margin: $margin_center 40px
		width: 70%

.projects_button_wrp 
	display: flex
	justify-content: center
	margin: 0

.projects_button_menu
		display: block
		height: 32px
		min-width: 70px
		text-decoration: none
		border: 1px solid #ebebeb
		border-radius: 3px
		box-sizing: border-box
		font-family: $font_montserrat
		font-size: 14px
		line-height: 21px
		font-weight: 300
		color: #8c8c8c
		margin: 0 10px 40px
		text-align: center
		padding: 5px 10px

.projects_link_active 
	border-color: #998675
	box-sizing: border-box
	background-color: #998675
	color: #fff


.projects_button_menu:hover
	border-color: #998675
	box-sizing: border-box
	background-color: #998675
	color: #fff

.projects_button_menu:active
	border-color: #ebebeb
	box-sizing: border-box
	background-color: #fff
	color: #8c8c8c

.projects_cards_wrp 
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	max-height: 710px
	margin: 0 0 40px 0


.projects_cards 
	margin: 0
	padding: 0 0 30px 0
	box-sizing: border-box
	position: relative
	
	&_img
		display: block
	&_items
		background-color: #fbfaf8
		padding: 30px
		position: relative
		
		&_title
			font-family: $font_raleway
			font-size: 20px
			line-height: 1.2
			font-weight: 500
			color: #c7b299

		&_txt
			font-family: $font_montserrat
			font-size: 14px
			line-height: 20px
			font-weight: 300
			color: #d1d1d1
			margin: 0

	&_link
		display: none
		width: 26px
		height: 26px
		position: absolute
		top: 106px
		left: 144px
		z-index: 2

.prj_link
	background: url(../img/link.svg)
.prj_search
	background: url(../img/lupa.svg)
	margin: 0 0 0 50px

.projects_cards_items:before
	content: ""
	display: block
	position: absolute
	border: none
	width: 10px
	height: 10px
	background-color: #fbfaf8
	top: -5px
	transform: rotate(45deg)

.projects_cards:hover
	transition: 0.3s

.projects_cards:hover .projects_cards_img
	filter: brightness(30%)

.projects_cards:hover .projects_cards_link
	display: block

.projects_cards:hover .prj_link:hover
	background: url(../img/link-h.svg)

.projects_cards:hover .prj_search:hover
	background: url(../img/lupa-h.svg)

.projects_cards:hover .projects_cards_items
	background-color: #362F2D

.projects_cards:hover .projects_cards_items_title
	color: #fff

.projects_cards:hover .projects_cards_items_txt
	color: #C7B299

.projects_cards:hover .projects_cards_items:before
	background-color: #362F2D

.projects_button
	+but_jump
	margin: 0 auto 80px

.projects_button:hover
	border-color: #998675
	background: transparent
	color: #998675


.waxom_video 
	position: relative


	&_wrp
		text-align: center
		position: absolute
		padding: 207px 685px

	&_title
		font-family: $font_raleway
		font-size: 30px
		line-height: 1.2
		font-weight: 500
		color: #fff
		margin: 0 0 29px 0
		
	&_txt
		font-family: $font_montserrat
		font-size: 16px
		line-height: 28px
		font-weight: 300
		color: #fff
		width: 552px
		margin: 0 0 40px 0

	&_time
		font-family: $font_montserrat
		font-size: 14px
		line-height: 24px
		font-weight: 400
		color: #c7b299

.bt_play
	position: relative
	background-color: transparent
	border: none
	margin: 0 0 44px 0

	&_svg
		display: block
		z-index: 2
		position: relative

.bt_play:after
	content: ""
	width: 100px
	height: 100px
	opacity: 0.2
	background-color: #000
	border-radius: 50%
	position: absolute
	z-index: 1
	left: -4px
	top: -8px

.desktop_video

.mobile_video
	display: none


.phone
	display: flex
	padding: 79px 375px 0
	box-sizing: border-box
	justify-content: space-between
	max-height: 695px

	&_img
		display: block

	&_wrp
		padding: 116px 0 0 0
		box-sizing: border-box

		&_title
			font-family: $font_raleway
			font-size: 30px
			line-height: 1.2
			font-weight: 600
			color: #555555
			margin: 0 0 40px 0
		&_txt
			font-family: $font_montserrat
			font-size: 16px
			line-height: 28px
			font-weight: 300
			color: #8c8c8c
			width: 657px
			margin: 0 0 45px 0
		&_list
			font-family: $font_montserrat
			font-size: 16px
			line-height: 32px
			font-weight: 300
			color: #8c8c8c
			margin: 0 0 0 50px
			list-style-type: none
			

			&_items
				position: relative
	
		
			&_items:before
				content: ""
				background: url(../img/list_icon.svg) no-repeat 
				background-size: cover
				height: 21px
				width: 21px
				position: absolute
				left: -45px
				top: 4px
		

.about_us
	max-height: 300px
	background: linear-gradient(90deg, #211b19, #4e3427)
	display: flex
	justify-content: space-around
	padding: 70px 395px
	box-sizing: border-box
	&_wrp
		text-align: center
	&_wrp:after
		content: ""
		display: block
		background-color: #f1eee9
		height: 2px
		width: 30px
		margin: 0 auto
	&_svg
		fill: #c7b299
		margin: 0 0 25px 0 
	&_digits
		font-family: $font_montserrat
		font-size: 48px
		line-height: 36px
		font-weight: 200
		color: #fff
		margin: 0 0 15px 0 

	&_txt
		font-family: $font_montserrat
		font-size: 14px
		line-height: 20px
		font-weight: 300
		text-transform: uppercase
		color: #c7b299
		margin: 0 0 25px 0 

.posts
	padding: 80px 375px 0
	box-sizing: border-box

	&_title
		font-family: $font_raleway
		font-size: 30px
		line-height: 1.2
		font-weight: 600
		color: #555555
		text-align: center
		margin: 0 0 30px 0

	&_txt
		font-family: $font_montserrat
		font-size: 16px
		line-height: 28px
		font-weight: 300
		color: #8c8c8c
		max-width: 757px
		text-align: center
		margin: 0 auto 40px
	&_wrp
		display: flex
		justify-content: space-between
		margin: 0 0 40px 0

	&_items
		position: relative
		width: 32%
		border: 1px solid #f8f8f8
		box-sizing: border-box


		&_img
			display: block

		&_pagination_wrp
			display: flex
			position: absolute
			top: 187px
			left: 134px
			justify-content: center

		&_pagination
			display: block
			border-radius: 50%
			width: 11px
			height: 11px
			opacity: 0.3
			background-color: #fff
			box-sizing: border-box
			margin: 0 9px 0 0
			border: 1px solid transparent

			&:hover 
				border-radius: 50%
				box-sizing: border-box
				border: 1px solid #919194
				background: transparent
				transform: scale(1.2)
			

		&_wrp
			padding: 30px 44px 30px 30px
			box-sizing: border-box
		
		&_date
			font-family: $font_montserrat
			font-size: 24px
			line-height: 37px
			font-weight: 300
			color: #fff
			display: block
			width: 50px
			height: 35px
			background-color: #363636
			border-radius: 3px 3px 0px 0px
			position: absolute
			top: 20px
			left: 20px
			text-align: center
			
		
		&_month
			font-family: $font_roboto
			font-size: 12px
			line-height: 24px
			font-weight: 400
			color: #fff
			display: block
			width: 50px
			height: 25px
			background-color: #252525
			border-radius: 0px 0px 3px 3px
			position: absolute
			top: 55px
			left: 20px
			text-align: center

		&_title
			font-family: $font_raleway
			font-size: 20px
			line-height: 1.2
			font-weight: 500
			color: #555555
			margin: 0 0 15px 0

		&_txt
			font-family: $font_montserrat
			font-size: 14px
			line-height: 22px
			font-weight: 300
			color: #8c8c8c
			margin: 0 0 21px 0

		&_link
			font-family: $font_montserrat
			font-size: 14px
			line-height: 20px
			font-weight: 300
			color: #c7b299
			text-decoration: none
			position: relative
		
		&_link:after
			content: ""
			display: block
			width: 0
			height: 0
			border-top: 3px solid transparent
			border-bottom: 3px solid transparent
			border-left: 5px solid #c7b299
			top: 7px
			left: 85px
			position: absolute
			
	
	&_bt_wrp
		display: flex
		justify-content: center
		margin: 0 0 80px 0

	&_bt_left
		width: 22px
		height: 22px
		background-color: transparent
		border-radius: 50%
		border: 1px solid #c7b299
		margin: 0 8px 0 0
		
	
	&_bt_left:after
		content: ""
		display: block
		border: none
		border-left: 1px solid #c7b299
		border-bottom: 1px solid #c7b299
		width: 7px
		height: 7px
		transform: rotate(45deg)
		box-sizing: border-box
		margin: 0 0 0 2px


	&_bt_right
		width: 22px
		height: 22px
		background-color: transparent
		border-radius: 50%
		border: 1px solid #c7b299
	
	&_bt_right:after
		content: ""
		display: block
		border: none
		border-right: 1px solid #c7b299
		border-bottom: 1px solid #c7b299
		width: 7px
		height: 7px
		transform: rotate(-45deg)
		box-sizing: border-box

.posts_items:hover .posts_items_img
	filter: brightness(30%)

.posts_items:hover .posts_items_date
	background: #c7b299

.posts_items:hover .posts_items_month
	background: #a48d72

.posts_items:hover .posts_items_title
	color: #c7b299

.posts_items:hover .posts_items_txt
	color: #fff

.posts_items:hover .posts_items_wrp
	background: #362f2d
	border-color: #362f2d

.posts_items_link:hover
	color: #fff

.posts_items_link:active
	color: #c7b299

.posts_bt_left:hover
	border-color: #d1d1d1

.posts_bt_left:active
	border-color: #c7b299

.posts_bt_left:hover .posts_bt_left:after
	border-right: 1px solid #c7b299
	border-bottom: 1px solid #c7b299

.posts_bt_right:hover
	border-color: #d1d1d1

.posts_bt_right:active
	border-color: #c7b299

.logos_partner
	padding: 140px 406px
	background: url(../img/bg_photo_logo.jpg) no-repeat
	background-size: cover
	max-height: 489px
	width: 100%
	box-sizing: border-box
	display: flex
	justify-content: space-between
	align-items: center
	
	&_img
		display: block

.main_footer
	width: 100%
	max-height: 619px

	&_part_1
		width: 100%
		max-height: 508px
		background: #191919
		padding: 80px 376px
		box-sizing: border-box
		display: flex
		justify-content: space-between

		&_logo
			max-width: 258px
			&_link
				text-decoration: none
				display: flex
				margin: 0 0 16px 0
			&_svg
				fill: #fff
			&_span
				font-family: $font_raleway
				font-size: 34px
				line-height: 1.2
				font-weight: 400
				letter-spacing: -0.04em
				color: #fff
				margin: 4px 0 0 0

			&_txt
				font-family: $font_montserrat
				font-size: 14px
				line-height: 24px
				font-weight: 300
				color: #555555
				margin: 0 0 33px 0

			&_link_2
				font-family: $font_montserrat
				font-size: 14px
				line-height: 20px
				font-weight: 300
				color: #fff
				text-decoration: none
				position: relative
			&_link_2:hover
				color: #998675
			&_link_2:active
				color: #fff
			&_link_2:after
				content: ""
				display: block
				width: 0
				height: 0
				border-top: 3px solid transparent
				border-bottom: 3px solid transparent
				border-left: 5px solid #fff
				top: 7px
				left: 85px
				position: absolute


		&_title
			font-family: $font_raleway
			font-size: 24px
			line-height: 1.2
			font-weight: 700
			color: #fff
			margin: 13px 0 33px 0
		&_posts
			max-width: 270px
			
			&_txt_wrp
				margin: 0 0 19px 0
				display: block
				text-decoration: none

			&_txt_wrp:after
				content: ""
				display: block
				width: 270px
				height: 2px
				background-color: #252525
			&_txt_wrp:last-child:after
				display: none
			&_txt_subtitle
				font-family: $font_montserrat
				font-size: 12px
				line-height: 20px
				font-weight: 300
				color: #363636
				margin: 0 0 10px 0 
			&_txt
				font-family: $font_montserrat
				font-size: 14px
				line-height: 20px
				font-weight: 300
				color: #555555
				margin: 0 0 21px 0
		&_twitter
			max-width: 270px
			&_txt_wrp
				margin: 0 0 19px 0

			&_txt_wrp:after
				content: ""
				display: block
				width: 270px
				height: 2px
				background-color: #252525
				margin: 21px 0 0 0

			&_txt_wrp:last-child:after
				display: none

			&_txt
				font-family: $font_montserrat
				font-size: 14px
				line-height: 20px
				font-weight: 300
				color: #555555
				margin: 0
			&_txt_subtitle
				font-family: $font_montserrat
				font-size: 12px
				line-height: 20px
				font-weight: 300
				color: #363636
				margin: 0 0 21px 0
				display: block
		&_widget
			max-width: 272px
	&_part_2
		padding: 45px 376px 52px 
		box-sizing: border-box
		background-color: #111
		width: 100%
		max-height: 111px
		display: flex
		justify-content: space-between

		&_wrp

		&_txt
			font-family: $font_montserrat
			font-size: 13px
			line-height: 20px
			font-weight: 300
			color: #555555
			margin: 0
		&_main_link
			color: #959595
		&_main_link:hover
			color: #c7b299
		&_link:hover
			color: #c7b299

		&_main_link:active
			color: #959595
		&_link:active
			color: #555555

.footer_twitter
	color: #00bff3

.footer_twitter:hover
	color: #959595

.footer_twitter:active
	color: #00bff3


.main_footer_part_1_logo_link:hover .main_footer_part_1_logo_svg
	fill: #998675

.main_footer_part_1_logo_link:hover .main_footer_part_1_logo_span
	color: #998675

.main_footer_part_1_logo_link:active .main_footer_part_1_logo_svg
	fill: #ccc

.main_footer_part_1_logo_link:active .main_footer_part_1_logo_span
	color: #ccc

.main_footer_part_1_posts_txt_wrp:hover .main_footer_part_1_posts_txt_subtitle
	color: #fff

.main_footer_part_1_posts_txt_wrp:hover .main_footer_part_1_posts_txt
	color: #c7b299


.main_footer_part_1_posts_txt_wrp:active .main_footer_part_1_posts_txt_subtitle
	color: #363636

.main_footer_part_1_posts_txt_wrp:active .main_footer_part_1_posts_txt
	color: #555